## Preprocessing

In [2]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
df = application_df.drop(['EIN'], axis=1)
df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [4]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [5]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
# Keeping values above 50 rather than 200
apps_to_replace = ['T25', 'T14', 'T29', 'T15', 'T17', 'T2', 'T12']
# Replace in dataframe
for app in apps_to_replace:
   df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
T13         66
Other       54
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
counts = df['CLASSIFICATION'].value_counts(dropna=False) 
counts[counts>3]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
# Keeping values above 200

class_to_replace = ['C4000', 
                    'C5000', 
                    'C1270', 
                    'C2800', 
                    'C7100', 
                    'C1300', 
                    'C1280', 
                    'C1230', 
                    'C1400', 
                    'C7200', 
                    'C2300', 
                    'C1240', 
                    'C8000', 
                    'C7120', 
                    'C1500', 
                    'C1800', 
                    'C6000', 
                    'C1250', 
                    'C8200', 
                    'C1238', 
                    'C1278', 
                    'C1235', 
                    'C1237', 
                    'C7210', 
                    'C2400', 
                    'C1720', 
                    'C4100', 
                    'C1257', 
                    'C1600', 
                    'C2710', 
                    'C0', 
                    'C1260', 
                    'C3200', 
                    'C1246', 
                    'C1234', 
                    'C1256', 
                    'C1267', 
                    'C1728', 
                    'C1732', 
                    'C1900', 
                    'C1820', 
                    'C6100', 
                    'C1248', 
                    'C2600', 
                    'C1370', 
                    'C5200', 
                    'C2561',
                    'C1245',
                    'C4200',
                    'C2190',
                    'C4500',
                    'C8210',
                    'C1236',
                    'C4120',
                    'C2570',
                    'C1580',
                    'C3700',
                    'C2170',
                    'C2500',
                    'C1570',
                    'C1283',
                    'C2380',
                    'C2150',
                    'C2700']

# Replace in dataframe
for cls in class_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1197
C7000      777
C1700      287
Name: CLASSIFICATION, dtype: int64

In [16]:
# Cutting down NAME column to save RAM and runtime
#  YOUR CODE GOES HERE
ct = df['NAME'].value_counts(dropna=False) 
ct[ct>10]

PARENT BOOSTER USA INC                                                    1260
TOPS CLUB INC                                                              765
UNITED STATES BOWLING CONGRESS INC                                         700
WASHINGTON STATE UNIVERSITY                                                492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                            408
                                                                          ...
USA SWIMMING INC                                                            11
SIGMA ALPHA OMEGA CHRISTIAN SORORITY INC                                    11
SOCIETY FOR PRESERVATION & ENCOURMT OF BARBERSHOP QUARTET SINGING AMER      11
SONS OF ITALY IN AMERICA                                                    11
FELLOWSHIP OF CHRISTIAN COWBOYS INC                                         11
Name: NAME, Length: 204, dtype: int64

In [20]:
names_to_replace = list(ct[ct<10].index)

# Replace in dataframe
for name in names_to_replace:
    df['NAME'] = df['NAME'].replace(name,"Other")
    
# Check to make sure binning was successful
df['NAME'].value_counts()

Other                                      21022
PARENT BOOSTER USA INC                      1260
TOPS CLUB INC                                765
UNITED STATES BOWLING CONGRESS INC           700
WASHINGTON STATE UNIVERSITY                  492
                                           ...
CASCADE 4-H FOUNDATION                        10
FREE & ACCEPTED MASONS OF WASHINGTON          10
NEW MEXICO GARDEN CLUBS INC                   10
NATIONAL ASSOCIATION OF HISPANIC NURSES       10
UNION OF CALIFORNIA STATE WORKERS             10
Name: NAME, Length: 223, dtype: int64

In [21]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
encoded = pd.get_dummies(df, dtype=float)

encoded.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,NAME_ACE MENTOR PROGRAM OF AMERICA INC,NAME_AIR FORCE ASSOCIATION,NAME_ALABAMA FEDERATION OF WOMENS CLUBS,NAME_ALABAMA TREASURE FOREST ASSOCIATION,NAME_ALPHA PHI SIGMA,NAME_ALPHA PHI SIGMA INC,NAME_ALTRUSA INTERNATIONAL FOUNDATION INC,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,1,108590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,1,6692,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,1,142590,1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [22]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = encoded['IS_SUCCESSFUL']
X = encoded.drop('IS_SUCCESSFUL', 1).values
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=15)

<ipython-input-22-fe9c945b5620>:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  X = encoded.drop('IS_SUCCESSFUL', 1).values

In [23]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [24]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE
num_input = len(X_train[0])
hl1 = 9
hl2 = 6
hl3 = 6

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hl1, input_dim = num_input, activation='relu'))

# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=hl2, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 9)                 2439

 dense_1 (Dense)             (None, 6)                 60

 dense_2 (Dense)             (None, 1)                 7

=================================================================
Total params: 2,506
Trainable params: 2,506
Non-trainable params: 0
_________________________________________________________________

In [25]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [26]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.5653 - accuracy: 0.7381
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4610 - accuracy: 0.7796
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4482 - accuracy: 0.7824
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4455 - accuracy: 0.7833
Epoch 5/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4432 - accuracy: 0.7848
Epoch 6/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4417 - accuracy: 0.7838
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4410 - accuracy: 0.7848
Epoch 8/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4404 - accuracy: 0.7849
Epoch 9/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4397 - accuracy: 0.7854
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4392 - accuracy: 0.7850
Epoch 11/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4390 - accuracy: 0.7856
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4386 - accuracy: 0.7847
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4380 - accuracy: 0.7860
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4374 - accuracy: 0.7859
Epoch 15/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4373 - accuracy: 0.7842
Epoch 16/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4369 - accuracy: 0.7868
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4365 - accuracy: 0.7853
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4359 - accuracy: 0.7867
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4353 - accuracy: 0.7865
Epoch 20/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4354 - accuracy: 0.7879
Epoch 21/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4350 - accuracy: 0.7873
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4351 - accuracy: 0.7875
Epoch 23/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4345 - accuracy: 0.7874
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4340 - accuracy: 0.7877
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4337 - accuracy: 0.7879
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4336 - accuracy: 0.7877
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4333 - accuracy: 0.7886
Epoch 28/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4332 - accuracy: 0.7880
Epoch 29/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4329 - accuracy: 0.7881
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4325 - accuracy: 0.7890
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4326 - accuracy: 0.7886
Epoch 32/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4323 - accuracy: 0.7891
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.7888
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4317 - accuracy: 0.7893
Epoch 35/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4318 - accuracy: 0.7904
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4315 - accuracy: 0.7885
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4314 - accuracy: 0.7898
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4313 - accuracy: 0.7891
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4312 - accuracy: 0.7897
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4309 - accuracy: 0.7896
Epoch 41/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4305 - accuracy: 0.7894
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4305 - accuracy: 0.7894
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4304 - accuracy: 0.7895
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4299 - accuracy: 0.7900
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7909
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7897
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4297 - accuracy: 0.7910
Epoch 48/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4295 - accuracy: 0.7910
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4295 - accuracy: 0.7917
Epoch 50/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4293 - accuracy: 0.7890
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4293 - accuracy: 0.7909
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7911
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4292 - accuracy: 0.7910
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4290 - accuracy: 0.7911
Epoch 55/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7900
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4285 - accuracy: 0.7913
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4289 - accuracy: 0.7909
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4288 - accuracy: 0.7903
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4282 - accuracy: 0.7913
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4280 - accuracy: 0.7919
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4281 - accuracy: 0.7915
Epoch 62/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4279 - accuracy: 0.7916
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4280 - accuracy: 0.7914
Epoch 64/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4277 - accuracy: 0.7909
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4276 - accuracy: 0.7919
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4275 - accuracy: 0.7916
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4274 - accuracy: 0.7922
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7914
Epoch 69/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4271 - accuracy: 0.7924
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4270 - accuracy: 0.7916
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4269 - accuracy: 0.7924
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7919
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7928
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4267 - accuracy: 0.7922
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4272 - accuracy: 0.7925
Epoch 76/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7926
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4267 - accuracy: 0.7915
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4266 - accuracy: 0.7930
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4268 - accuracy: 0.7920
Epoch 80/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4262 - accuracy: 0.7923
Epoch 81/100
804/804 [==============================] - 8s 9ms/step - loss: 0.4262 - accuracy: 0.7916
Epoch 82/100
804/804 [==============================] - 4s 4ms/step - loss: 0.4264 - accuracy: 0.7919
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4263 - accuracy: 0.7928
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7907
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7919
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4262 - accuracy: 0.7923
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7920
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7921
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4261 - accuracy: 0.7918
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4257 - accuracy: 0.7925
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4259 - accuracy: 0.7921
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7924
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7924
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4260 - accuracy: 0.7920
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7927
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4257 - accuracy: 0.7935
Epoch 97/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4258 - accuracy: 0.7925
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4258 - accuracy: 0.7927
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4256 - accuracy: 0.7930
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4255 - accuracy: 0.7921

In [27]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 1s - loss: 0.4564 - accuracy: 0.7867 - 560ms/epoch - 2ms/step
Loss: 0.4563743770122528, Accuracy: 0.7867055535316467

In [28]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
from google.colab import files

nn.save('/content/optomized2.h5')
files.download('/content/optomized2.h5')